body{
    width: 1450px;
    height: 888px;
    flex-shrink: 0;
    color: #6F3F77;

}

article{
    width: 445px;
    height: 837px;
    flex-shrink: 0;
    color: #ac1c1c;
    font-family: Inter;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

section {
    width: 1440px;
    height: 176px;
    flex-shrink: 0;
    background: #5B773F;

}

h1 {
    color: white;
    text-align: center;
  }