body{
    width: 1450px;
    height: 888px;
    flex-shrink: 0;
    background: #6F3F77;

}

.coluna1{
    width: 445px;
    height: 837px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.coluna2{
  width: 445px;
  height: 837px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

section {
    width: 1440px;
    height: 176px;
    flex-shrink: 0;
    background: #5B773F;

}

h1 {
    color: #FFF;
font-family: Irish Grover;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: right;
  }
  h2 {
    color: #FFF;
font-family: Irish Grover;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: right;
  }

  header {
    padding: 4%;
    width: 1440px;
    height: 100%;
    flex-shrink: 0;
    background: #5B773F;

  }
  